* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #a8768a;
}
.container {
  width: 90%; /* Sabit genişlik yerine yüzde kullanın */
  max-width: 37.5em;
  background-color: #debac9;
  padding: 3em 1em; /* Sabit padding yerine göreceli birim kullanın */
  margin: 0 auto; /* Web sayfanızı ortalamak için margin kullanın */
  border-radius: 0.8em;
}
.rules-container ul {
  list-style-type: none;
  padding: 0;
}

.rules-container li {
  margin-bottom: 0.5em;
}

.rules-container {
  width: 90%;
  background-color: #f6ecf0;
  max-width: 35em;
  padding: 3em 1em; /* Sabit padding yerine göreceli birim kullanın */
  margin: 0 auto; /* Web sayfanızı ortalamak için margin kullanın */
  border-color: #800856;
  border-style: inset;
  border-radius: 2em;
  font-family: "Poppins", sans-serif;
  color: #800856;
  font-size: 15px;

  text-shadow: -1px 1px 0 #8bd58d,
    1px 1px 0 #c95c4d,
    1px -1px 0 #56d2ce,
    -1px -1px 0 #fd66c8;
   font-size: 20px;
}
@media only screen and (max-width: 600px) {
  .draggable-image {
    width: 100%;
  }
}
  .timer-display {
    position: fixed;
    top: 2em;
    left: 2em;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
}
h3 {
  text-align: center;
  width: 60%;
  margin: 0 auto 2em auto;
  font-size: 1.2em;
  font-weight: 600;
  letter-spacing: 0.03em;
  line-height: 1.8em;
  color: #452c36;
}
.score-display {
  position: fixed;
  top: 2em;
  right: 2em;
  font-size: 1.2em;
  color: #ffffff;
  font-weight: bold;
}
.draggable-objects,
.drop-points {
  display: flex;
  justify-content: space-around;
  padding: 2em;
}
.draggable-image {
  width: 8em;
  cursor: move;
}

img {
  width: 8em;
  filter: drop-shadow(0 0.3em 0.9em rgba(0, 0, 0, 0.25));
}
.countries {
  width: 10em;
  height: 8em;
  display: grid;
  place-items: center;
  border: 0.25em dashed #010c39;
  border-radius: 0.8em;
}

.dropped {
  padding: 0;
  background-color: #e5ffc8;
}

  .controls-container {
    display: flex; /* CSS Flexbox kullanarak bir esnek düzen oluşturun */
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  background-color: #a8768a;
  flex-direction: column;
 
 
}
.controls-container button {
  font-size: 25px;
  background-color:  #f6ecf0;;
  font-weight: bold;
  border-color: #800856;
  padding: 1em 2em;
  border-style: inset;
  border-radius: 1em;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #800856;

  text-shadow: -1px 1px 0 #8bd58d,
    1px 1px 0 #c95c4d,
    1px -1px 0 #56d2ce,
    -1px -1px 0 #fd66c8;
   font-size: 20px;
}
.controls-container p {
  color: #f6ecf0;
  font-size: 2em;
  margin-bottom: 1em;
}
.hide {
  display: none;
}


